troitsk-G4-build/*
*.odp
*.log
*.gif
*.jpg
build/
troitsk-G4/old/*
ToBeArchived*
*~
*.iml
.vscode
doxydoc
CMakeLists.txt.user*
NEUTRON_DB.txt
*.autosave
.*.swp
*__pycache__*
.DS_Store
endfManip/bash/endfManip.code-workspace
endfManip/macro/endfManip.code-workspace
fission_v2.0.5/lib
